@*@Html.Action("Index", "Shared", new { area = "SystemCategories" })*@

<div class="wrap_menu">
    <div class="wap_tab">
            @*<div class="tablist" id="item_0">
                <a href="/RaoVat"><span>Trang chủ</span></a>
            </div>
             <div class="tablist " id="item_1">
                <div class="icon_new"></div>
                <a class="" href="#"><span>Tết trung thu</span></a>
            </div>
             <div class="tablist" id="item_2">
                <a href="#"><span>Thời trang nữ</span></a>
            </div>
             <div class="tablist" id="item_11">
                <a href="#"><span>Điện thoại</span></a>
            </div>
             <div class="tablist" id="item_15">
                <a href="#"><span>Máy tính</span></a>
            </div>*@
    </div>  
</div>

