<div id="divContentFaq" style="display: none; z-index: 1002; outline: 0px none; height: 270px;
    width: 657px; line-height: 35px" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable"
    tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-divFrmLogin">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span class="ui-dialog-title" style="cursor: auto;" id="ui-dialog-title-divFrmLogin">
            Thông tin hỗ trợ</span>
    </div>
    <div style="width: auto; min-height: 0px;" class="ui-dialog-content ui-widget-content"
        scrolltop="0" scrollleft="0">
        <p>
            Thời gian làm việc: <b>8h - 12h</b> và <b>13h30 - 17h30</b> từ thứ 2 tới thứ 6,
            thứ 7 từ <b>8h - 12h</b>, ngoài giờ hành chính vui lòng Gửi liên hệ cho chúng tôi
            hoặc gửi email tới địa chỉ <a href="mailto:support@hangtot.com"><span style="color: #e50000 !important;">
                support@hangtot.com</span></a>
        </p>
        <div style="float: left; width: 450px;">
            <b>Hỗ trợ chung</b>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 200px;">
                        <a href="ymsgr:sendim?hotro_hangtot&amp;m=Xin chào">
                            <img alt="" src="/Themes/Portal/Default/Styles/Helps/Images/yh1.gif">
                            Hỗ trợ khách hàng </a>
                    </td>
                    <td>
                        <a href="skype:hotro_hangtot?chat">
                            <img src="/Themes/Portal/Default/Styles/Helps/Images/sky2.gif" />
                            Hỗ trợ khách hàng</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Themes/Portal/Default/Styles/Helps/Images/phone.gif" />
                        (046) 674-5832
                    </td>
                    <td>
                        <img src="/Themes/Portal/Default/Styles/Helps/Images/mail.gif" />
                        <a href="mailto:support@hangtot.com"><span style="color: #e50000 !important;">support@hangtot.com</span></a>
                    </td>
                </tr>
            </table>
            <div style="float: left;">
                <b style="color: #f00000;">HOTLINE: (090) 402-5555</b>
            </div>
        </div>
        <div style="float: right; border-left: 1px solid #d4d4d4; padding-left: 10px;width:170px;margin-top:30px">
            <b>Hướng dẫn sử dụng</b>
            <p>
                <a href="http://hangtot.com/tro-giup/11/2/Quy-dinh-va-Dieu-khoan-su-dung.html ">Quy
                    định và điều khoản</a></p>
            @* <p><a href="/tai-khoan/dang-ky.html">Đăng ký thành viên</a></p>
                <p><a href="#">Kích hoạt tài khoản</a></p>
                <p><a href="/tai-khoan/dang-ky.html">Đăng tin rao vặt</a></p>*@
        </div>
    </div>
</div>
