<div id="header_nav">
    @Html.Partial("/Themes/Portal/Shared/Views/Include/NavHeader.cshtml")    
</div>
<div id="header">
        @Html.Partial("/Themes/Portal/Shared/Views/Include/Header.cshtml")    
</div>
    <div id="MainMenu">
    @Html.Partial(ThemeViewPath + "Include/Menu.cshtml")    
</div>