<div class="login-container">
    <div class="login-box">
@using (Html.BeginForm()) { 
    <div class="login-form">
        <h2>Bạn quên tài khoản hay mật khẩu?</h2>
        <div id="messages"></div>
        <div class="input-box input-left">
            <label for="email">Địa chỉ email:</label><br/>
            @Html.TextBox("Email", "", new { @class = "required-entry input-text forgot-password", id = "Email", style = "width:461px;" })
        </div>        
        <div class="clear"></div>
        <div class="form-buttons">
            @Html.ActionLink("« Đăng nhập trở lại", "Login", new { controller = "Users"}, new { @class = "left" })  
            <input type="submit" class="form-button" value="Lấy lại mật khẩu" title="Lấy lại mật khẩu" />         
        </div>
    </div>
    <p class="legal">Falcon Framework is a trademark of DKT Technology Jsc. Copyright &copy; 2011 DKT Technology Jsc.</p>
}
    <div class="bottom"></div>
    </div>
</div>
