@*@model EmailTemplateModel
           
@using (Html.BeginForm())
{
    @Html.Partial("_Toolbar")
                           
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                Xác nhận xóa EmailTemplate @Model.Title</h4>
            <div class="form-buttons">
            </div>
        </div>
        <div class="fieldset " id="user_base_fieldset">
            <div class="hor-scroll">
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
    </div>
}*@
