<div class="body-content">
    <!-- PAGEBODY START -->

    <div class="banner">
        <!-- BANNER START -->
        <div class="container">
            <h1 class="title1">Xây dựng bộ tiêu chí và trọng số</h1>
        </div>
    </div>
    <!-- END BANNER -->

    <div class="content">
        <!-- CONTENT START -->
        <div class="container">

            <div class="index-wrapper row">
                <div class="basic-guide container text-center">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-15 col-md-15">
                            <a href="#" target="_blank">
                                <i class="icon-guide step"></i>
                                <span>Các yếu tố <br> năng lực cạnh tranh</span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-15 col-md-15">
                            <a href="#" target="_blank">
                                <i class="icon-guide manual"></i>
                                <span>Tiêu chí<br>năng lực cạnh tranh</span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-15 col-md-15">
                            <a href="#" target="_blank">
                                <i class="icon-guide document"></i>
                                <span>Thuộc tính <br>năng lực cạnh tranh</span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-15 col-md-15">
                            <a href="#" target="_blank">
                                <i class="icon-guide sale"></i>
                                <span>Đánh giá <br>kết quả đạt được</span>

                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-15 col-md-15">
                            <a href="#" target="_blank">
                                <i class="icon-guide forum"></i>
                                <span>Thảo luận <br>kết quả sau nghiên cứu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="" style="height:500px;"></div>
</div>
<div class="test">

</div>
