    <!-- PAGEBODY START -->
<div class="banner banner-account">
    <!--BANNER START-->
    <h3 class="title1-regis">Chào mừng bạn đến với</h3>
    <h2 class="title2-regis">Trung tâm hỗ trợ khách hàng Bizweb.vn</h2>
</div>
<!--END BANNER-->
<div class="banner banner-account-confirmed">
    <!--BANNER START-->
    <h3 class="title1-regis-confirm">Trung tâm hỗ trợ khách hàng Bizweb.vn</h3>
</div>

<div class="content content-register">
    <!-- CONTENT START -->
    <div class="container">
        <form action="Register" method="post">
            <div class="box-group box-group-register">
                <p class="text-content-register">Đăng ký tài khoản</p>
                <div class="row">
                    <div class="col-sm-9 col-xs-12">
                        <div class="box-small1">
                            <h2 class="product-name">THÔNG TIN LIÊN HỆ</h2>
                            <p class="textbox-input-1">
                                <label> Email</label>
                                <input size="45" class="input-text" type="text" id="_519f3664ad1a872b" maxlength="64" placeholder="Địa chỉ email" name="519f3664ad1a872b" value="" required="">

                                <font class="error">*</font>
                            </p>
                            <p class="textbox-input-2">
                                <label> Họ  tên</label>
                                <input size="45" class="input-text" type="text" id="_610f4ac92b29aff6" maxlength="64" placeholder="Họ tên" name="610f4ac92b29aff6" value="" required="">

                                <font class="error">*</font>
                            </p>
                            <p class="textbox-input-3">
                                <label> Website </label>
                                <input size="45" class="input-text" type="text" id="_31d805f3e90df700" maxlength="100" placeholder="Website" name="31d805f3e90df700" value="">

                            </p>
                        </div>
                        <div class="box-small">
                            <div class="des">


                                <div class="creat-pass">
                                    <label> Tạo mật khẩu mới</label><input required="" class="mk" type="password" name="passwd1" size="25" placeholder="Tối thiểu 6 ký tự">
                                </div>
                                <div class="repeat-pass">
                                    <label>Xác nhận mật khẩu mới</label><input required="" class="mkm" type="password" name="passwd2" size="25">
                                </div>
                                <button type="submit" class="button btn-registration register">
                                    <span class="event-Support-account-register">Đăng ký</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="box-right box-right-register">
                            <div class="box-small">
                                <div class="box-image">
                                    <img src="~/Themes/Portal/Default/Images/icon_login_l.png" alt="" class="">
                                    <p>Đăng nhập</p>
                                </div>
                                <div class="text-content-register-right">
                                    Bạn đã có tài khoản?<span><a href="#fancybox-popup-form" class="fancybox"> Đăng nhập tại đây</a></span>
                                </div>
                                <div class="text-content-register-right">
                                    Tôi là một nhân viên <span><a href="/scp/"> Đăng nhập tại đây</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-12" style="display: none">

                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

