<span class="f-right">Thông báo lỗi từ hệ thống: 1 lỗi nghiêm trọng. @Html.ActionLink("Vào hòm thư", "Index", new { area = "Messages", controller = "Admin"})</span>
<span class="f-left">
    <strong onclick="openMessagePopup()" class="label clickable">
            Tin mới nhất:</strong> DKT tụ tập đánh chén @Html.ActionLink("Xem chi tiết", "Detail", new {area = "News", controller = "News"})
</span>