<ul class="nav_bottom">
    <li><a href="#">Laptop</a></li><li> | </li>
    <li><a href="#">Dien thoai</a></li> <li> | </li>
    <li><a href="#">Thiet bi han</a></li> <li> | </li>
    <li><a href="#">Tui xach balo</a></li> <li> | </li>
    <li><a href="#">Xe con tay</a></li> <li> | </li>
    <li><a href="#">Giay the thao</a></li> <li> | </li>
    <li><a href="#">Vot tenis</a></li> <li> | </li>
    <li><a href="#">Tu lanh</a></li> <li> | </li>
    <li><a href="#">Giay dan tuong</a></li>
</ul>