<div class="wrap_header">
    <div class="header">
        <span>Rao vặt đã xem</span>
    </div>
    <div class="action">
        <a href="#">[+] Xem tất cả</a>
    </div>
</div>
<div class="ads_content">
    <div class="ads_item">
          <div class="ads_img"></div>
            <div class="ads_nd">
                <div class="ads_title"><a href="#">Hot đây..hot đây...Áo khoác thu đông mới về.Và một số mẫu đang về nhé</a></div>
                <div class="ads_u"><span>hakieumy</span> - Hà Nội - 10:25 | Hôm nay</div>
            </div>
    </div>
    <div class="ads_item">
          <div class="ads_img"></div>
            <div class="ads_nd">
                <div class="ads_title"><a href="#">Hot đây..hot đây...Áo khoác thu đông mới về.Và một số mẫu đang về nhé</a></div>
                <div class="ads_u"><span>hakieumy</span> - Hà Nội - 10:25 | Hôm nay</div>
            </div>
    </div>
    <div class="ads_item">
          <div class="ads_img"></div>
            <div class="ads_nd">
                <div class="ads_title"><a href="#">Hot đây..hot đây...Áo khoác thu đông mới về.Và một số mẫu đang về nhé</a></div>
                <div class="ads_u"><span>hakieumy</span> - Hà Nội - 10:25 | Hôm nay</div>
            </div>
    </div>
</div>

<div class="wrap_header">
    <div class="header">
        <span>Sản phẩm đã xem</span>
    </div>
    <div class="action">
        <a href="#">[+] Xem tất cả</a>
    </div>
</div>
<div class="pro_content">
    <div class="pro_item">
          <div class="pro_img"></div>
          <div class="pro_title"><a href="#">iPhone 5 (Trung Quốc)</a></div>
          <div class="pro_price">680.000VND</div>
    </div>
    <div class="pro_item">
          <div class="pro_img"></div>
          <div class="pro_title"><a href="#">iPhone 5 (Trung Quốc)</a></div>
          <div class="pro_price">680.000VND</div>
    </div>
    <div class="pro_item">
          <div class="pro_img"></div>
          <div class="pro_title"><a href="#">iPhone 5 (Trung Quốc)</a></div>
          <div class="pro_price">680.000VND</div>
    </div>
    <div class="pro_item">
          <div class="pro_img"></div>
          <div class="pro_title"><a href="#">iPhone 5 (Trung Quốc)</a></div>
          <div class="pro_price">680.000VND</div>
    </div>
</div>