<div class="nav_mid">
    <div class="nav_col1">
        <div class="nav_title">Về chúng tôi</div>
        <ul class="nav_list">
            <li><a href="#">Giới thiệu Hangtot.com</a></li>
            <li><a href="#">Tầm nhìn sứ mệnh</a></li>
            <li><a href="#">Văn hóa DKT</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Hợp tác đầu tư</a></li>
        </ul>
    </div>
    <div class="nav_col2">
        <div class="nav_title">Hướng dẫn bán hàng</div>
        <ul class="nav_list">
            <li><a href="#">Giới thiệu Hangtot.com</a></li>
            <li><a href="#">Tầm nhìn sứ mệnh</a></li>
            <li><a href="#">Văn hóa DKT</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Hợp tác đầu tư</a></li>
        </ul>
    </div>
    <div class="nav_col3">
        <div class="nav_title">Về chúng tôi</div>
        <ul class="nav_list">
            <li><a href="#">Giới thiệu Hangtot.com</a></li>
            <li><a href="#">Tầm nhìn sứ mệnh</a></li>
            <li><a href="#">Văn hóa DKT</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Hợp tác đầu tư</a></li>
        </ul>
    </div>
    <div class="nav_col4">
        <div class="nav_title">Về chúng tôi</div>
        <ul class="nav_list">
            <li><a href="#">Giới thiệu Hangtot.com</a></li>
            <li><a href="#">Tầm nhìn sứ mệnh</a></li>
            <li><a href="#">Văn hóa DKT</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Hợp tác đầu tư</a></li>
        </ul>
    </div>
</div>
