<div id="footer" class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="container footer-contact hidden-xs hidden-sm">
                <div class="col-md-3 hidden-xs hidden-sm row" style="margin-top:12px">
                    <h4>Trợ giúp</h4>
                    <ul>
                        <li>
                            <a target="_blank" href="http://support.bizweb.vn">Trung tâm trợ giúp</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://docs.bizweb.vn/">Tài liệu hướng dẫn</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://docs.bizweb.vn/hinh-thuc-thanh-toan-154.html">Hình thức thanh toán</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://blog.bizweb.vn">Blog Bizweb</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://forum.bizweb.vn">Diễn đàn</a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="//www.bizweb.vn/Themes/Portal/Default/Bang_gia_goi_Support.pdf">Gói dịch vụ hỗ trợ</a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="//www.bizweb.vn/Themes/Portal/Default/Bang_gia_nghiep_vu_support_don_le.pdf">Hỗ trợ đơn lẻ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-5 row new-footer-col" style="margin-top:12px">
                    <h4>Chia sẻ kinh nghiệm</h4>
                    <ul>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/kinh-doanh-online.html">Kinh doanh online</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/ban-hang-online.html">Bán hàng online</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/thiet-ke-web-gia-re.html">Thiết kế website giá rẻ</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/thiet-ke-website-chuyen-nghiep.html">Thiết kế website chuyên nghiệp</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/tao-website-ban-hang.html">Tạo website bán hàng</a>
                        </li>
                    </ul>
                    <h4 class="for-social">Chương trình vì cộng đồng</h4>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.bizweb.vn/thiet-ke-website-mien-phi.html">Thiết kế website miễn phí</a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="http://toihienmau.com/">Dân văn phòng hiến máu</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-7 col-md-6 contact-row">
                    <div class="row custom-row">
                        <div class="col-md-12">
                            <h4>
                                Liên hệ
                                <a target="_blank" rel="nofollow" href="https://www.facebook.com/bizwebvietnam?fref=ts"><i class="fa fa-facebook-square" style="font-size:26px;margin-left:50px"></i></a>
                                <a target="_blank" rel="nofollow" href="https://www.youtube.com/user/bizwebvietnam"><i class="fa fa-youtube" style="font-size:26px;margin-left:10px"></i></a>
                                <a target="_blank" href="http://forum.bizweb.vn">
                                    <i class="fa fa-users" style="font-size:26px;margin-left:10px"></i>
                                </a>
                                <a target="_blank" href="http://blog.bizweb.vn">
                                    <i class="fa fa-weixin" style="font-size:26px;margin-left:10px"></i>
                                </a>
                            </h4>
                            <span class="uppercase" style="margin-top:11px">Công ty cổ phần công nghệ DKT (DKT Technology JSC)</span>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <ul>
                                <li class="address">
                                    <span>Trụ sở</span> &nbsp; <span class="text-infos"><i class="fa fa-map-marker"></i>Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Quận Ba Đình - TP Hà Nội</span>
                                </li>
                            </ul>
                            <ul>
                                <li class="address">
                                    <span>Chi nhánh</span> &nbsp; <span class="text-infos"><i class="fa fa-map-marker"></i>Lầu 3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - Phường 15 - Quận 11 - TP Hồ Chí Minh</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-md-12">
                            <p class="padding-sm-right">Tổng đài hỗ trợ khách hàng : <span style="color : #fff;">1900 6750</span></p>
                            <p class="padding-sm-right">Tư vấn dịch vụ : <span style="color : #fff;">1900 6750 - Nhánh 1</span></p>
                            <p class="padding-sm-right">Chăm sóc khách hàng : <span style="color : #fff;">1900 6750 - Nhánh 2</span></p>
                            <span style="color : #ABABAB !important;font-style:italic;" class="text-infos">Từ 8h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật</span>
                        </div>
                    </div>
                    <img class="bct" src="//www.bizweb.vn/Themes/Portal/Default/Images/bocongthuong.png">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container footer-contact visible-sm hidden-md hidden-lg hidden-xs">
                <div class="col-sm-4 row new-footer-col" style="margin-top:12px">
                    <h4>Chia sẻ kinh nghiệm</h4>
                    <ul>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/kinh-doanh-online.html">Kinh doanh online</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/ban-hang-online.html">Bán hàng online</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.bizweb.vn/thiet-ke-web-gia-re.html">Thiết kế website giá rẻ</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/thiet-ke-website-chuyen-nghiep.html">Thiết kế website chuyên nghiệp</a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.bizweb.vn/tao-website-ban-hang.html">Tạo website bán hàng</a>
                        </li>
                    </ul>
                    <h4 class="for-social">Chương trình vì cộng đồng</h4>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.bizweb.vn/thiet-ke-website-mien-phi.html">Thiết kế website miễn phí</a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="http://toihienmau.com/">Dân văn phòng hiến máu</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 contact-row">
                    <div class="row custom-row">
                        <div class="col-md-12">
                            <h4>
                                Liên hệ
                                <a target="_blank" rel="nofollow" href="https://www.facebook.com/bizwebvietnam?fref=ts"><i class="fa fa-facebook-square" style="font-size:26px;margin-left:50px"></i></a>
                                <a target="_blank" rel="nofollow" href="https://www.youtube.com/user/bizwebvietnam"><i class="fa fa-youtube" style="font-size:26px;margin-left:10px"></i></a>
                                <a target="_blank" href="http://forum.bizweb.vn">
                                    <i class="fa fa-users" style="font-size:26px;margin-left:10px"></i>
                                </a>
                                <a target="_blank" href="http://blog.bizweb.vn">
                                    <i class="fa fa-weixin" style="font-size:26px;margin-left:10px"></i>
                                </a>
                            </h4>
                            <span class="uppercase" style="margin-top:11px">Công ty cổ phần công nghệ DKT (DKT Technology JSC)</span>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>Trụ sở</span>
                            <ul>
                                <li class="address">
                                    <span class="text-infos"><i class="fa fa-map-marker"></i>Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Quận Ba Đình - TP Hà Nội</span>
                                </li>
                            </ul>
                            <span>Chi nhánh</span>
                            <ul>
                                <li class="address">
                                    <span class="text-infos"><i class="fa fa-map-marker"></i>Lầu 3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - Phường 15 - Quận 11 - TP Hồ Chí Minh</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-md-12">
                            <p class="padding-sm-right">Tổng đài hỗ trợ khách hàng : <span style="color : #fff;">1900 6750</span></p>
                            <p class="padding-sm-right">Tư vấn dịch vụ : <span style="color : #fff;">1900 6750 - Nhánh 1</span></p>
                            <p class="padding-sm-right">Chăm sóc khách hàng : <span style="color : #fff;">1900 6750 - Nhánh 2</span></p>
                            <span style="color : #ABABAB !important;font-style:italic;" class="text-infos">Từ 8h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật</span>
                        </div>
                    </div>
                    <img class="bct" src="//www.bizweb.vn/Themes/Portal/Default/Images/bocongthuong.png">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="footer-contact hidden-sm hidden-md hidden-lg visible-xs">
                <div class="col-xs-12 new-footer-col" style="margin-top:0px; margin-bottom : 15px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Chia sẻ kinh nghiệm</h4>
                            <ul>
                                <li>
                                    <a target="_blank" href="//www.bizweb.vn/kinh-doanh-online.html">Kinh doanh online</a>
                                </li>
                                <li>
                                    <a target="_blank" href="//www.bizweb.vn/ban-hang-online.html">Bán hàng online</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.bizweb.vn/thiet-ke-web-gia-re.html">Thiết kế website giá rẻ</a>
                                </li>
                                <li>
                                    <a target="_blank" href="//www.bizweb.vn/thiet-ke-website-chuyen-nghiep.html">Thiết kế website chuyên nghiệp</a>
                                </li>
                                <li>
                                    <a target="_blank" href="//www.bizweb.vn/tao-website-ban-hang.html">Tạo website bán hàng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <h4>Chương trình vì cộng đồng</h4>
                            <ul>
                                <li>
                                    <a target="_blank" href="https://www.bizweb.vn/thiet-ke-website-mien-phi.html">Thiết kế website miễn phí</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="http://toihienmau.com/">Dân văn phòng hiến máu</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row custom-row">
                        <div class="col-xs-12">
                            <h4>
                                Liên hệ
                                <a target="_blank" rel="nofollow" href="https://www.facebook.com/bizwebvietnam?fref=ts"><i class="fa fa-facebook-square" style="font-size:26px;margin-left:50px"></i></a>
                                <a target="_blank" rel="nofollow" href="https://www.youtube.com/user/bizwebvietnam"><i class="fa fa-youtube" style="font-size:26px;margin-left:10px"></i></a>
                                <a target="_blank" href="http://forum.bizweb.vn">
                                    <i class="fa fa-users" style="font-size:26px;margin-left:10px"></i>
                                </a>
                                <a target="_blank" href="http://blog.bizweb.vn">
                                    <i class="fa fa-weixin" style="font-size:26px;margin-left:10px"></i>
                                </a>
                            </h4>
                            <span class="uppercase" style="margin-top:11px">Công ty cổ phần công nghệ DKT (DKT Technology JSC)</span>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>Trụ sở</span>
                            <ul>
                                <li class="address">
                                    <span class="text-infos"><i class="fa fa-map-marker"></i>Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Quận Ba Đình - TP Hà Nội</span>
                                </li>
                            </ul>
                            <span>Chi nhánh</span>
                            <ul>
                                <li class="address">
                                    <span class="text-infos"><i class="fa fa-map-marker"></i>Lầu 3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - Phường 15 - Quận 11 - TP Hồ Chí Minh</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row custom-row">
                        <div class="col-md-12">
                            <p class="padding-sm-right">Tổng đài hỗ trợ khách hàng : <span style="color : #fff;">1900 6750</span></p>
                            <p class="padding-sm-right">Tư vấn dịch vụ : <span style="color : #fff;">1900 6750 - Nhánh 1</span></p>
                            <p class="padding-sm-right">Chăm sóc khách hàng : <span style="color : #fff;">1900 6750 - Nhánh 2</span></p>
                            <span style="color : #ABABAB !important;font-style:italic;" class="text-infos">Từ 8h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật</span>
                        </div>
                    </div>
                    <img class="bct" src="//www.bizweb.vn/Themes/Portal/Default/Images/bocongthuong.png">
                </div>

            </div>
        </div>

        <div class="row footer-copyright hidden-sm hidden btn-xs visible-md visible-lg">
            <div class="container">
                <div class="col-md-2 row padding-copyright">
                    <span>© Copyright 2008 - 2016</span>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-7">
                            <span style="padding-top: 13px;padding-left:35px">Bizweb.vn - Nền tảng bán hàng online được sử dụng nhiều nhất Việt Nam</span>
                        </div>
                        <div class="col-md-5 padding-last" style="margin-left : -30px;">
                            <a target="_blank" href="//www.bizweb.vn/bao-chi-noi-ve-bizweb/Giai-phap-website-ban-hang-truc-tuyen-tren-nen-tang-dien-toan-dam-may-a88.html" style="font-size:13px">
                                Sản phẩm đạt giải:
                                <br>
                                Nhân tài Đất Việt 2013 &amp; Sao Khuê  2012
                            </a>
                            <a target="_blank" href="//www.bizweb.vn/bao-chi-noi-ve-bizweb/Giai-phap-website-ban-hang-truc-tuyen-tren-nen-tang-dien-toan-dam-may-a88.html"><img class="icon-cup" src="//www.bizweb.vn/Themes/Portal/Default/Styles_New/images/icon-cup.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-copyright hidden-md hidden-xs visible-sm">
            <div class="container">

                <div class="col-sm-12">
                    <div class="row custom-row">
                        <div class="col-sm-6">
                            <span style="padding-top: 18px;">Bizweb.vn - Nền tảng bán hàng online được sử dụng nhiều nhất Việt Nam</span>
                        </div>
                        <div class="col-sm-6 padding-last">
                            <a target="_blank" href="//www.bizweb.vn/bao-chi-noi-ve-bizweb/Giai-phap-website-ban-hang-truc-tuyen-tren-nen-tang-dien-toan-dam-may-a88.html" style="font-size:14px;margin-top:14px">
                                Sản phẩm đạt giải:
                                <br>
                                Nhân tài Đất Việt 2013 &amp; Sao Khuê  2012
                            </a>
                            <a target="_blank" href="//www.bizweb.vn/bao-chi-noi-ve-bizweb/Giai-phap-website-ban-hang-truc-tuyen-tren-nen-tang-dien-toan-dam-may-a88.html"><img class="icon-cup" src="//www.bizweb.vn/Themes/Portal/Default/Styles_New/images/icon-cup.png" style="top:20px;"></a>
                        </div>
                    </div>
                </div>

            </div>
            <hr style="margin-bottom:0px;margin-top:0px;border-bottom: solid thin #36353d;border-top:none">
            <div class="container">
                <div class="col-sm-12" style="padding-top: 12px; text-align:center">
                    <span>© Copyright 2008 - 2016</span>
                </div>
            </div>
        </div>

        <div class="hidden-sm hidden-md hidden-lg visible-xs clearfix row" style="margin-bottom:0px;margin-top:10px;border-top: solid thin #36353d;border-bottom:none;padding-top:20px;padding-bottom:20px">
            <div class="container">
                <div class="col-xs-12">
                    <div class="row custom-row">
                        <div class="col-xs-8 row">
                            <a target="_blank" href="//www.bizweb.vn/bao-chi-noi-ve-bizweb/Giai-phap-website-ban-hang-truc-tuyen-tren-nen-tang-dien-toan-dam-may-a88.html">
                                Sản phẩm đạt giải:
                                <br>
                                Nhân tài Đất Việt 2013 &amp; Sao Khuê  2012
                            </a>
                        </div>
                        <div class="col-xs-4 row">
                            <a target="_blank" href="//www.bizweb.vn/bao-chi-noi-ve-bizweb/Giai-phap-website-ban-hang-truc-tuyen-tren-nen-tang-dien-toan-dam-may-a88.html"><img class="icon-cup" src="//www.bizweb.vn/Themes/Portal/Default/Styles_New/images/icon-cup.png" style="margin: 0px 0 0 0px !important;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-copyright hidden-md hidden-sm visible-xs">
            <div class="container">
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="row custom-row">
                        <div class="col-xs-12 row" style="text-align:left">
                            <span style="padding-top: 22px;padding-bottom:22px">Bizweb.vn - Nền tảng bán hàng online được sử dụng nhiều nhất Việt Nam</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>