<div id="header" class="header">
    <!-- HEADER START -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
                <div class="logo-container">
                    <a class="logo" href="index.php">

                        <img class="hidden-xs" src="~/Themes/Portal/Default/Images/logo.png" title="logo">
                        <img class="hidden-sm hidden-md hidden-lg visible-xs" src="~/Themes/Portal/Default/Images/bizweb-logo.png" title="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6">
                <div class="nav">
                    <ul class="hidden-xs hidden-sm">
                        <li><a class="document" href="#" target="_blank" rel="nofollow">Giới thiệu</a></li>
                        <li><a class="help" href="#" target="_blank" rel="nofollow">Lý thuyết</a></li>
                        <li><a class="themestore" href="#" target="_blank" rel="nofollow">Phương pháp</a></li>
                        <li><a class="applicationstore" href="#" target="_blank" rel="nofollow">Kho ứng dụng</a></li>
                        <li><a class="expert" href="#" target="_blank" rel="nofollow">Chuyên gia</a></li>
                        <li><a class="login fancybox" href="#">Đăng nhập</a></li>
                    </ul>
                    <button type="button" class="button btn-registration">
                        <span>Liên hệ</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
